.upload-result { float: left; color: #00FF00; }
.upload-cancel { float: left; color: #FF0000; }
.myProfileBadge {
    max-width: 450px;
    height: 100px;
    margin: auto;
    background-color: #ffe72d;
}
.myUploadPhoto {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #f3dd31;
    vertical-align: middle;
    color: #b3a110;
}
.myUploadBT {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: -70px;
    margin-top: 60px;
    padding: 0;
}
.myUploadBT2 {
    width: 90px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: -90px;
    margin-top: 60px;
    padding: 0;
}
.myPhotoFile { border-radius: 50%; width: 30px!important; height: 30px!important; box-shadow:none; padding: 5px; }
.myPhotoFile:hover { box-shadow:none; padding: 5px; }
.myPhotoFile:active { box-shadow:none; padding: 5px; }
.myUploadPhotoText {
    padding: 10px;
    color: #b3a110;
    padding-top: 35px;
}
.myBadgeAt {
    width: 50px;
    height: 100px;
    float: left;
    text-align: right;
    vertical-align: middle;
    font-size: 40px;
    padding: 5px;
    padding-top: 15px;
}
#inputDisplayName {
    width: 50%;
    float: left;
    margin-top: 30px;
}