@font-face {
	font-family: 'thaisanslite';
	src: url('fonts/thaisanslite.eot');
	src: local('☺'), url('fonts/thaisanslite.woff') format('woff'), url('fonts/thaisanslite.ttf') format('truetype'), url('fonts/thaisanslite.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

